.Area-Group {
    display: none;
    background-color: #f0f0f0;
    height: 100vh;
}

.Area-Group .Area-Group-Members {
    display: flex;
    flex-flow: wrap;
    list-style: none;
    margin-left: 250px;
}

.Area-Group .Area-Group-Members .Group-Member {
    margin-bottom: 40px;
}

.Area-Group .Area-Group-Members .Group-Member .Member {
    border-bottom: none;
}

.Area-Group .Area-Group-Members Group-Member:last-child .Member {
    border-bottom: 1px solid rgb(214, 214, 214);
}

.Member{
    position: relative;
    width: 463px;
    border: 1px solid rgb(214, 214, 214);
    background: #ededed;
}

.Area-Group .Area-Group-Members .Group-Member .Member img {
    width: 160px;
    height: 191px;
    float: left;
    object-fit: cover;
}

.Area-Group .Area-Group-Members .Group-Member .Member .Member-Data {
    float: left;
    width: 300px;
}

.Area-Group .Area-Group-Members .Group-Member .Member .Member-Data h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 15px 0 10px 20px;
    color: #414141;
}

.Member-Data p,
.Member-Info-Plus p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    padding-left: 21px;
    line-height: 18px;
    color: #6B6B6B;
}

.Area-Group .Area-Group-Members .Group-Member .Member .Member-Data .Social-List {
    list-style: none;
    margin-top: 12px;
    margin-left: 21px;
}

.Area-Group .Area-Group-Members .Group-Member .Member .Member-Data .Social-List li {
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 1px;
    position: relative;
    top: -122px;
    opacity: 0;
    transition: all .5s;
    -webkit-transition: all .5s;
}

.Area-Group .Area-Group-Members .Group-Member .Member .Member-Data .Social-List li a {
    color:#fff;
    text-align:center;
}
  
.Area-Group .Area-Group-Members .Group-Member .Member .Member-Data .Social-Listli a i {
    margin-top:6px;
}
  
.Area-Group .Area-Group-Members .Group-Member .Member .Member-Data .Social-List li.ln {
    background: #39C url("http://migkapa.com/site/lab/css3hover/images/linked-icon.png") no-repeat center;
}

.Area-Group .Area-Group-Members .Group-Member .Member .Member-Data .Social-List li.twitter {
    background: #019AD2 url("http://migkapa.com/site/lab/css3hover/images/twitter-icon.png") no-repeat center;
}
  
.Area-Group .Area-Group-Members .Group-Member .Member .Member-Data .Social-List li.fb {
    background: #3B5998 url("http://migkapa.com/site/lab/css3hover/images/facebook-icon.png") no-repeat center;
}

.Area-Group .Area-Group-Members .Group-Member .Member .Member-Data .Social-List li.dribble  {
    background: #EA4C89 url("http://migkapa.com/site/lab/css3hover/images/dribble-icon.png") no-repeat center;
}

.Area-Group .Area-Group-Members .Group-Member .Member .Member-Data .Social-List li a {
    display: block;
    width: 30px;
    height: 30px;
    text-decoration:none;
}

.more-btn {
    padding-top: 0.5%;
    display: block;
    width: 30px;
    height: 30px;
    right: 1px;
    bottom: 1px;
    font-size: 20px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    position: absolute;
    background: #80553f;
}

.more-btn.opened span {
    display:block;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.clear {
    clear: both;
}

.Member-Info-Plus {
    display: none;
    border-top: 1px solid rgb(214, 214, 214);
    background: #DDD;
}

.Member-Info-Plus p {
    padding: 15px 30px 30px 15px;
}

.Member:hover .social-list li {
    top: 0;
    opacity: 1;
    transition: all .2s;
    -webkit-transition: all .2s;
}

.Member:hover .social-list li.twitter {
    transition-delay: .1s;
    -webkit-transition-delay:.1s;
}

.Member:hover .social-list li.fb {
    transition-delay: .2s;
    -webkit-transition-delay:.2s;
}

.Member:hover .social-list li.dribble {
    transition-delay: .3s;
    -webkit-transition-delay:.3s;
}

.Member:hover .more-btn {
    background: #FF4C2A;
}

.rotate span {
    display: block;
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
}

@media only screen and (max-width: 1248px) {

    /********** Grupo **********/
    
    .Area-Group {
        padding-top: 100px;
        height: auto;
    }

    .Area-Group .Area-Group-Members {
        display: flex;
        flex-flow: wrap;
        list-style: none;
        margin-left: 
        0px;
    }
    
    .Area-Group h1 {
        padding-top: 4vh;
        padding-bottom: 4vh;
    }
    
    img {
        margin-right: 10px;
    }
    
    .Group-Member {
        margin-bottom: 10px;
    }
    
    .Member {
        width: auto;
    }
    
    .Member-Data {
        float: none;
        width: auto;
    }
    
    .Member-Data h2 {
        text-align: center;
        padding: 0px;
    }
    
    .Member-Data p, .Member-Info-Plus p {
        font-size: 14px;
        padding-left: 0px;
        line-height: none;
    }
    
    .Social-List {
        margin-top: 0px;
        margin-left: 0px;
    }
}    