/* Barra de Topo */

nav {
  position: fixed;
  z-index: 3;
  width: 100vw;
  height: 70px;
  overflow: hidden;

  background: #322153;
  background: -webkit-linear-gradient(to right, #322153, #7a0260);
  background: linear-gradient(to right, #322153, #7a0260);
}

.TopoLogo {
  position: fixed;
  display: flex;
  z-index: 3;
  width: 100vw;
  height: 70px;
  align-items: center;
  justify-content: center;
}

.TopoLogo img {
  height: 80px;
}