/********** Grupo **********/

#Equipe {
    display: none;
    height: 100vh;
}

.Grup {
    background-color: rgb(228, 228, 228);
}

.Item-list {
    display: flex;
    flex-flow: wrap;
    list-style: none;
    margin-left: 250px;
}

.Item {
    margin-bottom: 40px;
}

.Item-list li .item-holder {
    border-bottom: none;
}

.Item-list li:last-child .item-holder {
    border-bottom: 1px solid rgb(214, 214, 214);
}

.Item-holder {
    position: relative;
    width: 463px;
    border: 1px solid rgb(214, 214, 214);
    background: #ededed;
}

.member-img {
    width: 160px;
    height: 191px;
    float: left;
    object-fit: cover;
}

.member-info {
    float: left;
    width: 300px;
}

.member-info h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 15px 0 10px 20px;
    color: #414141;
}

.member-info p, .member-info-plus p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    padding-left: 21px;
    line-height: 18px;
    color: #6B6B6B;
}

.social-list {
    list-style: none;
    margin-top: 12px;
    margin-left: 21px;
}

.social-list li {
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 1px;
    position: relative;
    top: -122px;
    opacity: 0;
    transition: all .5s;
    -webkit-transition: all .5s;
}

.social-list li a {
    color:#fff;
    text-align:center;
}
  
.social-list li a i {
    margin-top:6px;
}
  
.social-list li.ln {
    background: #39C url("http://migkapa.com/site/lab/css3hover/images/linked-icon.png") no-repeat center;
}

.social-list li.twitter {
    background: #019AD2 url("http://migkapa.com/site/lab/css3hover/images/twitter-icon.png") no-repeat center;
}
  
.social-list li.fb {
    background: #3B5998 url("http://migkapa.com/site/lab/css3hover/images/facebook-icon.png") no-repeat center;
}

.social-list li.dribble  {
    background: #EA4C89 url("http://migkapa.com/site/lab/css3hover/images/dribble-icon.png") no-repeat center;
}

.social-list li a {
    display: block;
    width: 30px;
    height: 30px;
}

a {
    text-decoration:none;
}

.more-btn {
    padding-top: 0.5%;
    display: block;
    width: 30px;
    height: 30px;
    right: 1px;
    bottom: 1px;
    font-size: 20px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    position: absolute;
    background: #80553f;
}

.more-btn.opened span {
    display:block;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.clear {
    clear: both;
}

.member-info-plus {
    display: none;
    border-top: 1px solid rgb(214, 214, 214);
    background: #DDD;
}

.member-info-plus p {
    padding: 15px 30px 30px 15px;
}

.Item-holder:hover .social-list li {
    top: 0;
    opacity: 1;
    transition: all .2s;
    -webkit-transition: all .2s;
}

.Item-holder:hover .social-list li.twitter {
    transition-delay: .1s;
    -webkit-transition-delay:.1s;
}

.Item-holder:hover .social-list li.fb {
    transition-delay: .2s;
    -webkit-transition-delay:.2s;
}

.Item-holder:hover .social-list li.dribble {
    transition-delay: .3s;
    -webkit-transition-delay:.3s;
}

.Item-holder:hover .more-btn {
    background: #FF4C2A;
}

.rotate span {
    display: block;
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
}

/********** Patrocinio - SLIDE **********/

#Parceiros {
    display: none;
    height: 100vh;
    width: 100%; /* Análisar */
    background: rgb(255, 255, 255);
}

.Sponsorship {
    width: 100%;
    height: 500px;
    overflow: auto;
    margin: 0 auto;
    overflow-x: hidden; 
    overflow-y: hidden;
    padding: 0 150px 80px 150px;
}

.Sponsorship::-webkit-scrollbar {
    display: none;
}
  
.slides {
    width: 100%;
    animation: slide 10s ease infinite;
}
  
.slide {
    width: inherit;
    float: left;
    height: 500px;
}
  
.slide:nth-child(1) {
    background: #D93B65;
}
  
.slide:nth-child(2) {
    background: #037E8C;
}
  
.slide:nth-child(3) {
    background: #36BF66;
}
  
.slide:nth-child(4) {
    background: #D9D055;
}

.slide-number {
    top: 30%;
    color: #000;
    text-align: center;    
    position: relative;    
    font-size: 10em;
}

@keyframes slide {
    20% {margin-top: 0px;}
    30% {margin-top: -500px;}
    40% {margin-top: -500px;}
    50% {margin-top: -1000px;}
    60% {margin-top: -1000px;}
    70% {margin-top: -1500px;}
    80% {margin-top: -1500px;}
}

/* RESPONSIVIDADE */


@media only screen and (max-width: 1248px) {

/********** Grupo **********/

#Equipe {
    padding-top: 100px;
    height: auto;
}

.Grup h1 {
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.member-img {
    margin-right: 10px;
}

.Item-list {
    margin-left: 0px;
}

.Item {
    margin-bottom: 10px;
}

.Item-holder {
    width: auto;
}

.member-info {
    float: none;
    width: auto;
}

.member-info h2 {
    text-align: center;
    padding: 0px;
}

.member-info p, .member-info-plus p {
    font-size: 14px;
    padding-left: 0px;
    line-height: none;
}

.social-list {
    margin-top: 0px;
    margin-left: 0px;
}

/********** Patrocinio - SLIDE **********/

#Parceiros {
    height: auto;
    width: 100vw;
}

#Parceiros h2 {
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.Sponsorship {
    padding: 0px 0px 0px 0px;
}

}
