*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

body{
    display: flex;
    height: 100vh;
	margin:0;
	color:#e4e4e4b0;
    background:#f0f0f0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.EmbrulhoForm {
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background: url(../Img/hand.jpg) no-repeat center;
	background-position: bottom;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.Form {
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 90px 70px 50px 70px;
	background: #322153;
	background: linear-gradient(to right, rgba(122, 2, 96, 0.7), rgba(50, 33, 83, 0.7));
	background: -webkit-linear-gradient(to right, #322153, #7a0260);
}

.Logotipo {
	display: flex;
	justify-content: center;
	padding-bottom: 25px;
}

.Form img {
	width: 35%;
}

.Form .Cadastro-htm,
.Form .Denuncia-htm {
	padding-top: 16px;
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.Form .cadastro,
.Form .Denuncia,
.login-form .group .check {
	display:none;
}

.tab {
	letter-spacing: 0.1;
	text-transform: none;
}

.Form,
.login-form .group .label,
.login-form .group .button {
	text-transform:uppercase;
	letter-spacing:.2em;
}
.Form .tab {
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
    border-bottom:2px solid transparent;
    
    border-color:rgba(255, 255, 255, 0.2);
}
.Form .cadastro:checked + .tab,
.Form .Denuncia:checked + .tab {
	color:#fff;
	/* border-color:#1161ee; */
	border-color:#F3AD55;

}
.login-form {
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
	width:100%;
	color:#fff;
	display:block;
	font-weight: 550;
	line-height: 2em;
}
.login-form .group .input,
.login-form .group .button {
    outline: none;
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255, 255, 255, 0.2);
}
.login-form .group input[data-type="password"] {
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label {
	color:rgb(255, 255, 255);
	font-size:12px;
}
.login-form .group .button {
	/* background:#4330af; */
	background:#F3AD55;
}
.login-form .group .button:hover {
	cursor: pointer;
	background:#f3ac55ce;
}
.login-form .group label .icon {
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255, 255, 255, 0.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after {
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before {
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after {
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label {
	color:#fff;
}
.login-form .group .check:checked + label .icon {
	background:#4330af;
}
.login-form .group .check:checked + label .icon:before {
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after {
	transform:scale(1) rotate(-45deg);
}
.Form .cadastro:checked + .tab + .Denuncia + .tab + .login-form .Cadastro-htm {
	transform:rotate(0);
}
.Form .Denuncia:checked + .tab + .login-form .Denuncia-htm {
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:20px 0 20px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}

.Denuncia-htm .group {
	display: flex;
	align-items: center;
	justify-content: center;
}

.Denuncia-htm .group .button {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media only screen and (max-width: 1248px) {
	body{
		background: #6c6c9f;
	}

	.Denuncia-htm .group {
		font-size: 0.8em;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	.Denuncia-htm .group .button {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
}

@media only screen and (max-width: 550px) {
	.EmbrulhoForm {
		width:100%;
		margin:auto;
		max-width: none;
		min-width: none;
		max-height: none;
		min-height: none;
	}

	.Form {
		padding: 8vh 5vw;
		width: 100%;
	}
	
}

@media only screen and (max-width: 330px) {
	.Denuncia-htm .group {
		font-size: 0.6em;
	}

	.Form {
		padding: 10vh 10vw 10vh 10vw;
	}
	
	.Form img {
		width: 100px;
	}

	.Form,
	.login-form .group .label,
	.login-form .group .button {
		font-size: 1em;
	}
	.Form .tab {
		font-size:13px;
		margin-right:0px;
		padding-bottom:0px;
		margin:0;
	}
	.login-form .group .input,
	.login-form .group .button {
		padding: 8px 20px;
		border-radius: 24px;
	}
	.login-form .group .label {
		font-size: 10px;
	}
	.login-form .group .check:checked + label .icon {
		background:#F3AD55;
	}
	
	.Denuncia-htm .group {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	.Denuncia-htm .group .button {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}